// THEME INDEPENDENT STYLES

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

#mainWrapper {
  // justify all inputs of form to the right in the modal footer
  .ant-modal-footer  .ant-form-inline {
    justify-content: flex-end;
  }

  // set smaller text for the FormItem.extra text
  .ant-form-item-extra {
    margin-top: 6px;
    font-size: 11px;
    font-style: italic;
  }
}

