// THEME INDEPENDENT STYLES

#mainWrapper {
  // justify all inputs of form to the right in the modal footer
  .ant-modal-footer  .ant-form-inline {
    justify-content: flex-end;
  }

  // set smaller text for the FormItem.extra text
  .ant-form-item-extra {
    margin-top: 6px;
    font-size: 11px;
    font-style: italic;
  }
}

