@import "../../../styles/index";

.container {
  display: grid;
  gap: 24px 24px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  margin: 40px;
  width: calc(100% - 80px);
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
}

.cell {
  .radius(2);

  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.title {
  position: absolute;
  background: var(--section);
  width: 100%;
  bottom: -1px;
  padding: 8px;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.detail-panel {
  .radius(2);

  position: relative;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background: var(--section);
  padding: 16px;

  h1 {
    margin-bottom: 0;
  }
}

.detail-panel.right {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i:hover {
    cursor: pointer;
  }

  button {
    margin-left: auto;
    margin-right: 32px;
  }
}

.preview-grid {
  display: grid;
  grid-template-columns: calc(75% - 16px) calc(25% - 16px);
  grid-template-rows: auto auto auto;
  gap: 8px 16px;
  grid-auto-flow: row;
  width: 100%;
  margin-top: 32px;
}

.big-preview {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  border-radius: 8px;
}

.preview {
  border-radius: 8px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }
}

.preview.active {
  border: 1px solid var(--teal);
}

.progress-bar {
  position: relative;
  display: block !important;
  width: 80% !important;
  margin: 20% auto;
}
