
@teal-med-opac: rgba(49, 195, 162, 0.6);
@teal-light-opac: rgba(49, 195, 162, 0.3);
@yellow-med-opac: rgba(255, 205, 70, 0.6);
@yellow-light-opac: rgba(255, 205, 70, 0.3);
@navy: #13242d;
@navy-secondary: #09161d;
@grey: #91979a;
@black: #000;

// Color Updates - Do not reference directly

@teal: #31C3A2;
@teal-semi: rgba(49, 195, 162, 0.08);
@purple: #8736E0;
@purple-semi: rgba(135, 54, 224, 0.08);
@red: #F85640;
@red-semi: rgba(248, 86, 64, 0.08);
@yellow: #FFC803;
@yellow-dark: #CA9D00;
@yellow-dark-semi: rgba(202, 157, 0, 0.08);
@yellow-light: #FFF9E5;
@white: #FFFFFF;

@light-1: #ffffff;
@light-2: #F5F8FA;
@light-3: #E3E8EB;
@light-4: #BDC2C4;
@light-5: #91979A;

@dark-1: #050D12;
@dark-2: #09161D;
@dark-3: #17242D;
@dark-4: #2B383F;
@dark-5: #4F5E65;

// Platforms
@twitch: #6542A6;
@youtube: #E62117;
@mixer: #0078d7;
@twitter: #1EA4F0;
@facebook:#3B5998;
@periscope: #3FA4C4;
@picarto: #2DA75F;
@discord: #7289da;

// Variables for use
:root {
  // Brand Colors
  --teal: @teal;
  --accent: @purple;
  --warning: @red;
  --warning-hover: lighten(@red, 4%);
  --new: @yellow;
  --info-dark: @yellow-dark;
  --info-light: @yellow-light;
  --info-semi: @yellow-dark-semi;
  --icon: @light-5;

  // Theme Colors
  --background: @light-1;
  --section: @light-2;
  --section-alt: @light-2;
  --title: @dark-2;
  --paragraph: @dark-5;
  --border: @light-2;
  --button: @light-3;
  --button-hover: darken(@light-3, 8%);
  --link: @dark-5;
  --link-active: @dark-2;
  --input-bg: @light-1;
  --input-border: @light-3;
  --focus-border: darken(@light-3, 4%);
  --solid-input: @light-3;
  --dropdown-bg: @light-2;
  --dropdown-alt-bg: darken(@light-2, 4%);
  --dropdown-border: @light-2;
  --hover: @light-2;
  --scrollbar: @light-1;
  --midtone: @light-5;
  --nav-border: @navy;
  --slider-bg: @light-3;
  --slider-progress: @dark-5;
  --shadow: rgba(55, 71, 79, 0.12);
}

.night-theme {
  --background: @dark-3;
  --section: @dark-2;
  --section-alt: @dark-4;
  --title: @light-1;
  --paragraph: @light-4;
  --border: @dark-4;
  --button: @dark-5;
  --button-hover: lighten(@dark-5, 8%);
  --link: @light-4;
  --link-active: @light-1;
  --input-bg: transparent;
  --input-border: @dark-5;
  --focus-border: lighten(@dark-5, 4%);
  --solid-input: @dark-4;
  --dropdown-bg: @dark-4;
  --dropdown-alt-bg: darken(@dark-4, 4%);
  --dropdown-border: @dark-4;
  --hover: @dark-4;
  --scrollbar: @dark-4;
  --midtone: @light-1;
  --nav-border: @light-1;
  --slider-bg: @dark-4;
  --shadow: rgba(1, 2, 2, 0.16);
}
