button {
  &:focus,
  &:visited {
    outline: none;
  }
}

.button {
  .transition;
  .radius();

  height: 36px;
  line-height: normal;
  font-size: @font-size4;
  color: var(--color-button-label);
  background-color: var(--color-button-primary);
  padding: 0 16px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: .5;
  }

  i {
    margin-right: 8px;
  }
}

.button--primary {
  background-color: var(--color-button-primary);

  &:hover,
  &:focus {
    background-color: var(--color-button-primary-hover);
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--color-button-primary);
  }
}

.button--secondary {
  background-color: var(--color-button-secondary);

  &:hover,
  &:focus {
    background-color: var(--color-button-secondary-hover);
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--color-button-secondary);
  }
}

.button--action,
.button--accent {
  background-color: var(--color-button-accent);
  color: var(--color-button-label);

  &:hover,
  &:focus {
    background-color: var(--color-button-accent-hover);
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--color-button-accent);
  }
}

.button--border {
  color: var(--colorbutton-secondary);
  border: 1px solid var(--color-button-secondary);
  background-color: transparent;
  
  &:hover,
  &:focus,
  &.active {
    color: var(--color-button-label);
    background-color: var(--color-button-secondary);
  }
}

.button--disabled {
  background-color: @grey;
  cursor: default;

  &:hover, &:focus {
    background-color: @grey;
    cursor: default;
  }
}

// live中の赤ボタン
.button--live {
  background-color: var(--color-red);
  border: 1px solid var(--color-red);

  &:focus,
  &:hover {
    background-color: var(--color-red-dark);
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--color-red-dark);
    border: none;
  }
}

.button--trans {
  background: transparent;
  color: @text-primary;

  i {
    color: @text-primary;
    .transition();
  }

  &:hover, &:focus {
    color: @white;
    background: transparent;

    i {
      color: @navy;
    }
  }
}

.button--semi-opac {
  background: var(--color-button-secondary);

  &:hover {
    background: var(--color-button-seconday-hover);
  }

  &:focus {
    background: var(--color-button-seconday-hover);
  }
}

.button--100 {
  width: 100%;
}

.icon-btn {
  .icon-hover();

  font-size: @font-size4;
  cursor: pointer;
  margin-left: 12px;
  
  &:first-child {
    margin-left: inherit;
  }
}

.icon-btn--sm {
  font-size: @font-size3;
}

.icon-btn--lg {
  font-size: @font-size6;
}

.back-arrow {
  font-size: 16px;
  margin-right: 20px;
  .transition;
}

.back-arrow--light {
  color: @text-primary;

  &:hover {
    color: @white;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.square-button {
  .radius();
  .transition();
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: @white;
  font-size: 16px;
}

.square-button--skip,
.button--skip {
  background: transparent;
  border: none;
  color: var(--color-text);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    background: transparent;
  }

  &:focus {
    background: transparent;
  }
}


.button--go-live,
.button--start-program {
  color: var(--color-button-label);
  background-color: var(--color-button-accent);

  &:hover,
  &:focus {
    background-color: var(--color-button-accent-hover);
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--color-button-accent);
  }
}

.button--soft-warning {
  color: var(--color-button-label);
  background: var(--color-red);
  border: 1px solid var(--color-red);
  font-size: 20px;

  &:focus,
  &:hover {
    background: var(--color-red-dark);
    border: 1px solid var(--color-red);
  }

  &:disabled {
    background-color: var(--color-red-dark);
    border-color: var(--color-red-dark);

    &:hover {
      background-color: var(--color-red-dark);
    }
  }
}

.button--default {
  background: rgba(255, 255, 255, .1) !important;
  border-color: transparent !important;
  color: @white !important;

  &:hover {
    background: rgba(255, 255, 255, .2) !important;
 }

 &:disabled {
   &:hover {
    background: rgba(255, 255, 255, .1) !important;
   }
 }
}

.button--create-program {
  font-size: 14px;
  background-color: @text-secondary;

  &:hover {
     background-color: @text-tertiary;
  }

  &:disabled {
    &:hover {
      background-color: @text-secondary;
    }
  }
}

.button-nicolive--action {
  color: @white;
  background-color: @text-secondary;

  &:hover {
    background-color: @text-tertiary;
 }

 &:disabled {
   &:hover {
     background-color: @text-secondary;
   }
 }
}

.button-nicolive--default {
  color: @white;
  background-color: @grey;
}

.button--circle {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  .transition;

  i {
    font-size: @font-size5;
    color: var(--color-button-label);
  }

  &.active {
    background-color: var(--color-button-active);

    i {
      color: var(--color-bg-secondary);
    }
  }
}
