// LESS Color Varaibles -- DO NOT REFERENCE DIRECTLY

// Brand colors-- postfix indicates with which type of UI the color should be used with
@teal-dark: #80f5d2;
@teal-light: #128079;
@red-dark: #f85640;
@red-light: #b14334;
@yellow-dark: #e3973e;
@yellow-light: #a96311;
@blue-dark: #36ade0;
@blue-light: #2b5bd7;
@cyan: #00f2ea;
@pink-dark: #eb7777;
@pink-light: #c22571;
@purple-dark: #c57bff;
@purple-light: #5e3bec;
@lavender-dark: #be99ff;
@lavender-light: #5e3bec;
@navy: #233a4a;
@dark-navy: #14252e;
@prime-dark: #caa368;
@prime-light: #8f6f3f;
@black: #000;
@white: #fff;
@ultra: linear-gradient(123.53deg, #2de8b0 0%, #cbe953 48.8%, #ffab48 75.86%, #ff5151 100%);

@video-editor: rgb(255, 81, 81);
@podcast-editor: #5ee57c;
@link-space: #ff9b4a;
@talk-studio: #45d2ff;
@cross-clip: #ff50a4;

@light-1: #ffffff;
@light-2: #f5f8fa;
@light-3: #e3e8eb;
@light-4: #bdc2c4;
@light-5: #91979a;

@dark-1: #050d12;
@dark-2: #09161d;
@dark-3: #17242d;
@dark-4: #2b383f;
@dark-5: #4f5e65;

@primedark-1: #0d0d0d;
@primedark-2: #000000;
@primedark-3: #111111;
@primedark-4: #252525;
@primedark-5: #969696;

@primelight-1: #f3f3f3;
@primelight-2: #ffffff;
@primelight-3: #d3d3d3;
@primelight-4: #c3c4c6;
@primelight-5: #767676;

@twitch: #9146ff;
@facebook: #1778f2;
@youtube: #ff0000;
@twitter: #1da1f2;
@tiktok: white;
@trovo: #19d06d;
@kick: #54fc1f;
@instagram: white;
