@font-face {
  font-family: 'n-air';
  src: url('../fonts/n-air.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'n-air' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add-file:before {
  content: "\e900";
}
.icon-add-folder:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-blackmagic:before {
  content: "\e903";
}
.icon-browser:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-clipboard-copy:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-color:before {
  content: "\e908";
}
.icon-comment:before {
  content: "\e909";
}
.icon-cpu:before {
  content: "\e90a";
}
.icon-delete-file:before {
  content: "\e90b";
}
.icon-delete:before {
  content: "\e90c";
}
.icon-details-setting:before {
  content: "\e90d";
}
.icon-dev:before {
  content: "\e90e";
}
.icon-display:before {
  content: "\e90f";
}
.icon-down-arrow:before {
  content: "\e910";
}
.icon-drop-fps:before {
  content: "\e911";
}
.icon-feedback:before {
  content: "\e912";
}
.icon-file:before {
  content: "\e913";
}
.icon-folder:before {
  content: "\e914";
}
.icon-fps:before {
  content: "\e915";
}
.icon-game-capture:before {
  content: "\e916";
}
.icon-help:before {
  content: "\e917";
}
.icon-hide:before {
  content: "\e918";
}
.icon-image:before {
  content: "\e919";
}
.icon-kbps:before {
  content: "\e91a";
}
.icon-keyborad:before {
  content: "\e91b";
}
.icon-live:before {
  content: "\e91c";
}
.icon-lock:before {
  content: "\e91d";
}
.icon-log-in:before {
  content: "\e91e";
}
.icon-log-out:before {
  content: "\e91f";
}
.icon-maximize:before {
  content: "\e920";
}
.icon-media:before {
  content: "\e921";
}
.icon-mic:before {
  content: "\e922";
}
.icon-minimize:before {
  content: "\e923";
}
.icon-minus:before {
  content: "\e924";
}
.icon-mute:before {
  content: "\e925";
}
.icon-n-air:before {
  content: "\e926";
}
.icon-NDI:before {
  content: "\e927";
}
.icon-nicolive:before {
  content: "\e928";
}
.icon-niconico:before {
  content: "\e929";
}
.icon-notification:before {
  content: "\e92a";
}
.icon-output:before {
  content: "\e92b";
}
.icon-plus:before {
  content: "\e92c";
}
.icon-refresh:before {
  content: "\e92d";
}
.icon-search:before {
  content: "\e92e";
}
.icon-settings:before {
  content: "\e92f";
}
.icon-simple:before {
  content: "\e930";
}
.icon-slideshow:before {
  content: "\e931";
}
.icon-speaker:before {
  content: "\e932";
}
.icon-spinner:before {
  content: "\e933";
}
.icon-stream:before {
  content: "\e934";
}
.icon-studio-mode:before {
  content: "\e935";
}
.icon-text:before {
  content: "\e936";
}
.icon-unhide:before {
  content: "\e937";
}
.icon-unlock:before {
  content: "\e938";
}
.icon-up-arrow:before {
  content: "\e939";
}
.icon-video-capture:before {
  content: "\e93a";
}
.icon-video:before {
  content: "\e93b";
}
.icon-visitor:before {
  content: "\e93c";
}
.icon-vr-google:before {
  content: "\e93d";
}
.icon-warning:before {
  content: "\e93e";
}
.icon-window-capture:before {
  content: "\e93f";
}
