// Positioning
.absolute (@top: auto, @right: auto, @bottom: auto, @left: auto) {
  display: block;
  position: absolute;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}

.flex() {
  display: flex;
}

.flex--center() {
  align-items: center;
  justify-content: center;
}

.flex--wrap() {
  flex-wrap: wrap;
}

.flex--space-between() {
  justify-content: space-between;
}

.flex--justify-start() {
  justify-content: flex-start;
}

.flex--align-start() {
  align-items: flex-start;
}

.flex--column() {
  flex-direction: column;
}

.flex--grow() {
  flex-grow: 1;
}

.flex__column() {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

// Aspect ratio for responsive height/width
.aspect-ratio(@width, @height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Backgrounds
.bg--teal() {
  background-color: @teal;
}

// Border radius
.radius(@radius: 1) {
  border-radius: (@radius * 4px);
}

// Borders
.border() {
  border: 1px solid @day-section;
}

.night-border() {
  border: 1px solid @night-section;
}

// Hovers
.icon-hover() {
  color: @icon;
  .transition();

  &:hover {
    color: @dark-2;
  }
}

.night-icon-hover() {
  color: @icon;
  .transition();

  &:hover {
    color: @white;
  }
}

.icon--margin() {
  @margin-right();
}

// Margins
.margin(@spacing: 1) {
  margin: (@spacing * 8px);
}

.margin-top(@spacing: 1) {
  margin-top: (@spacing * 8px);
}

.margin-right(@spacing: 1) {
  margin-right: (@spacing * 8px);
}

.margin-bottom(@spacing: 1) {
  margin-bottom: (@spacing * 8px);
}

.margin-left(@spacing: 1) {
  margin-left: (@spacing * 8px);
}

// Paddings
.padding(@spacing: 1) {
  padding: (@spacing * 8px);
}

.padding-top(@spacing: 1) {
  padding-top: (@spacing * 8px);
}

.padding-right(@spacing: 1) {
  padding-right: (@spacing * 8px);
}

.padding-bottom(@spacing: 1) {
  padding-bottom: (@spacing * 8px);
}

.padding-left(@spacing: 1) {
  padding-left: (@spacing * 8px);
}

// Shadows
.day-shadow() {
  box-shadow: 0 4px 10px @day-shadow;
}

.night-shadow() {
  box-shadow: 0 4px 10px @night-shadow;
}

// Transitiions
.transition() {
  transition: all 275ms;
}

// Typography
.weight(@normal: @normal) {
  font-weight: @normal;
}

.teal() {
  color: @teal;
}

.warning() {
  color: @red;
}

.letter-spacing() {
  letter-spacing: .6px;
}