.goal-tab-container {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows: minmax(0, 1fr);
  position: relative;

  :global(.ant-modal-wrap), :global(.ant-modal-mask) {
    position: absolute;
  }
}

.goal-tab-content {
  padding: 24px;
  grid-column: 1 / span 1;
  min-width: 0;
}

.card {
  background: var(--section-alt);
  position: relative;
  border-radius: 4px;
  padding: 16px;
  margin: 24px;
  margin-left: 0;
}

.card-header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 16px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  footer {
    display: flex;
  }

  button {
    margin-right: 16px;
    max-width: 200px;
  }
}

.whisper {
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: var(--button);
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--paragraph);

  &:hover {
    cursor: pointer;
  }
}

.my-goals {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 200px;

    strong {
      margin: 0 auto;
      display: block;
    }
  }

  :global(.ant-progress-steps-item) {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.my-community {
  .card {
    width: 180px;
    height: 100px;
    margin-right: 16px;

    button {
      width: 100%;
    }
  }
  .title {
    margin-left: 8px;
  }
  .twitch {
    color: var(--twitch);
  }
  .youtube {
    color: var(--youtube);
  }
  .facebook {
    color: var(--facebook);
  }

  .card.prime-card {
    flex-grow: 1;
    background: var(--prime-semi);

    &:hover {
      cursor: pointer;
    }

    .card-header {
      margin-bottom: 0;
      color: var(--title);
    }

    button {
      background: var(--prime);
    }
  }
}

.streamer-resources {
  .card {
    width: 50%;
    height: 280px;
    display: flex;
  }
}

.resources-container,
.goals-container,
.community-container {
  display: flex;
  justify-content: space-between;
}

.community-container {
  justify-content: flex-start;
}

.growth-tips-container {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background: var(--section-alt);
  display: flex;
  height: 100%;
  min-height: 1px;
  flex-direction: column;
  overflow: hidden;
  padding: 16px;

  i {
    margin-right: 8px;
  }

  button {
    margin: 0 auto;
    min-width: 200px;
    display: block;
  }

  .card {
    background: var(--background);
    width: 100%;
    margin: 8px 0 8px 0;
  }
}
