{
  "presets": [
    "@vue/babel-preset-jsx",
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": false }],
    "transform-class-properties",
    [
      "@babel/plugin-transform-runtime",
      {
        "useESModules": true
      }
    ]
  ]
}
