{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "plugins": [
    "vue"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Electron": false,
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "class-methods-use-this": "off",
    "no-prototype-builtins": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "prefer-rest-params": "off",
    "import/prefer-default": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "spaced-comment": "off",
    "no-unused-vars": [ "error", {
      "varsIgnorePattern": "^_",
      "argsIgnorePattern": "^_"
    } ]
  },
  "overrides": [{
    "files": "app/**/*.ts",
    "parser": "typescript-eslint-parser",
    "plugins": ["typescript"]
  }]
}
