[submodule "node-libuiohook"]
	path = node-libuiohook
	url = git@github.com:stream-labs/node-libuiohook.git
[submodule "obs-studio-node"]
	path = obs-studio-node
	url = git@github.com:stream-labs/obs-studio-node.git
