[submodule "node-libuiohook"]
	path = node-libuiohook
	url = https://github.com/stream-labs/node-libuiohook.git
[submodule "obs-studio-node"]
	path = obs-studio-node
	url = https://github.com/stream-labs/streamlabs-obs.git
