.DS_Store
.idea
node_modules/
build/
npm-debug.log
yarn-error.log
lib/
rtmp-services/
text-freetype2/
/data/
dist/
test-dist/
test-unit-dist/
bundles/
node-obs/
node-boost/
electron.sln
electron.VC.db
.vs/
plugins/
AGREEMENT.sjis
patch-note.txt
