.DS_Store
.idea/
node_modules/
build/
updater/build/
npm-debug.log
lib/
rtmp-services/
text-freetype2/
/data/
dist/
test-dist/
bundles/
node-obs/
node-boost/
electron.sln
electron.VC.db
.vs/
plugins/
yarn-error.log
.opt-in
.env
.awcache/
AGREEMENT
license_en.txt