trigger:
- staging
- master

variables:
  CI: true

jobs:
  - template: scripts/ci/test-job.tpl.yml
    parameters:
      name: Test_1
      chunk: '1/4'

  - template: scripts/ci/test-job.tpl.yml
    parameters:
      name: Test_2
      chunk: '2/4'

  - template: scripts/ci/test-job.tpl.yml
    parameters:
      name: Test_3
      chunk: '3/4'

  - template: scripts/ci/test-job.tpl.yml
    parameters:
      name: Test_4
      chunk: '4/4'

#  - job: Tests_1
#
#    pool:
#      name: 'Default'
#
#    workspace:
#      clean: resources
#
#    steps:
#
#    - powershell: echo "IP for RDP connections:" $(Invoke-RestMethod ipinfo.io/ip)
#      displayName: 'Get RDP address'
#
#    - powershell: Set-DisplayResolution -Width 1920 -Height 1080 -Force
#      displayName: 'Setup Screen Resolution'
#
#    - script: yarn install --frozen-lockfile --check-files 2>&1
#      displayName: 'Install Dependencies'
#
#    - script: node node_modules/electron/install.js
#      displayName: 'Install Electron'
#
#    - script: 'yarn eslint'
#      displayName: 'ESLint'
#
#    - script: 'yarn compile:strictnulls'
#      displayName: 'Check regressions in files with strictNullChecks'
#
#    - script: 'yarn ci:compile'
#      displayName: 'Compile Assets'
#
#    - script: 'yarn ci:tests'
#      displayName: 'Run Tests'
#      env:
#        SLOBS_TEST_USER_POOL_TOKEN: $(userPoolToken)
#        BROWSER_SOURCE_HARDWARE_ACCELERATION: 'OFF'
#        SLOBS_TEST_STREAM_KEY: $(twitchStreamKey)
#        SLOBS_TEST_RUN_CHUNK: '1/2'
#
#  - job: Tests_2
#
#    pool:
#      name: 'Default'
#
#    workspace:
#      clean: resources
#
#    steps:
#
#      - powershell: echo "IP for RDP connections:" $(Invoke-RestMethod ipinfo.io/ip)
#        displayName: 'Get RDP address'
#
#      - powershell: Set-DisplayResolution -Width 1920 -Height 1080 -Force
#        displayName: 'Setup Screen Resolution'
#
#      - script: yarn install --frozen-lockfile --check-files 2>&1
#        displayName: 'Install Dependencies'
#
#      - script: node node_modules/electron/install.js
#        displayName: 'Install Electron'
#
#      - script: 'yarn eslint'
#        displayName: 'ESLint'
#
#      - script: 'yarn compile:strictnulls'
#        displayName: 'Check regressions in files with strictNullChecks'
#
#      - script: 'yarn ci:compile'
#        displayName: 'Compile Assets'
#
#      - script: 'yarn ci:tests'
#        displayName: 'Run Tests'
#        env:
#          SLOBS_TEST_USER_POOL_TOKEN: $(userPoolToken)
#          BROWSER_SOURCE_HARDWARE_ACCELERATION: 'OFF'
#          SLOBS_TEST_STREAM_KEY: $(twitchStreamKey)
#          SLOBS_TEST_RUN_CHUNK: '2/2'

#  - job: Screenshots
#
#    pool:
#      name: 'Default'
#
#    workspace:
#      clean: resources
#
#    steps:
#
#    - powershell: echo "IP for RDP connections:" $(Invoke-RestMethod ipinfo.io/ip)
#      displayName: 'Get RDP address'
#
#    - powershell: Set-DisplayResolution -Width 1920 -Height 1080 -Force
#      displayName: 'Setup Screen Resolution'
#
#    - script: yarn install --frozen-lockfile --check-files 2>&1
#      displayName: 'Install Dependencies'
#
#    - script: node node_modules/electron/install.js
#      displayName: 'Install Electron'
#
#    - script: 'yarn ci:screentests'
#      displayName: 'Snapshot testing'
#      env:
#        BROWSER_SOURCE_HARDWARE_ACCELERATION: 'OFF'
#        SLOBS_TEST_USER_POOL_TOKEN: $(userPoolToken)
#        STREAMLABS_BOT_ID: $(streamlabsBotId)
#        STREAMLABS_BOT_KEY: $(streamlabsBotKey)
#        AWS_BUCKET: $(awsBucket)
#        AWS_ACCESS_KEY: $(awsAccessKey)
#        AWS_SECRET_KEY: $(awsSecretKey)
#
#    - task: PublishPipelineArtifact@0
#      inputs:
#        artifactName: 'SnapshotsResults'
#        targetPath: $(Build.SourcesDirectory)/test-dist/screentest
#
  - job: Performance

    pool:
      name: 'Default'

    workspace:
      clean: resources

    steps:

      - powershell: echo "IP for RDP connections:" $(Invoke-RestMethod ipinfo.io/ip)
        displayName: 'Get RDP address'

      - powershell: Set-DisplayResolution -Width 1920 -Height 1080 -Force
        displayName: 'Setup Screen Resolution'

      - script: yarn install --frozen-lockfile --check-files 2>&1
        displayName: 'Install Dependencies'

      - script: node node_modules/electron/install.js
        displayName: 'Install Electron'

      - script: 'yarn ci:compile'
        displayName: 'Compile Assets'

      - script: 'yarn ci:performance'
        displayName: 'Performance testing'
        env:
          BROWSER_SOURCE_HARDWARE_ACCELERATION: 'OFF'
          SLOBS_TEST_USER_POOL_TOKEN: $(userPoolToken)

  - job: macOS

    pool:
      vmImage: macOS-latest

    workspace:
      clean: resources

    steps:
      - script: yarn install --frozen-lockfile --check-files 2>&1
        displayName: 'Install Dependencies'

      - script: node node_modules/electron/install.js
        displayName: 'Install Electron'

      - script: 'yarn eslint'
        displayName: 'ESLint'

      - script: 'yarn compile:strictnulls'
        displayName: 'Check regressions in files with strictNullChecks'

      - script: 'yarn ci:compile'
        displayName: 'Compile Assets'
