
.card {
  background: var(--section-alt);
  border-radius: 4px;
  padding: 16px;
  margin: 24px;
}

.my-goals {
  .card {
    width: 320px;
    height: 240px;
  }
}

.my-community {
  .card {
    width: 180px;
    height: 100px;
  }
}

.streamer-resources {
  .card {
    width: 45%;
    height: 280px;
  }
}

.resources-container,
.goals-container,
.community-container {
  display: flex;
  justify-content: space-around;
}
