.banner-container {
  height: 48px;
  width: 100%;
  background: var(--section);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.close {
  text-decoration: underline;
}
