@import '../../styles/index';

.main-container {
  height: 100%;
}

.studio-editor-display-container {
  position: relative;
  flex-grow: 1;
  background-color: var(--section);

  .display {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.studio-mode-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  &.stacked {
    flex-direction: row;
  }
}

.studio-display-container {
  flex-grow: 1;
  display: flex;
  height: 100%;
  position: relative;

  &.stacked {
    flex-direction: column;
  }
}

.studio-mode-display-container {
  flex-grow: 1;
  position: relative;
}

.studio-mode-display {
  position: absolute;
  width: 100%;
}

.placeholder {
  background: var(--section);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 5px;
    height: calc(100% - 10px);
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }

  img.vertical {
    width: calc(100% - 10px);
    height: auto;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
  }

  img.studioMode {
    height: auto;
    top: 50%;
    width: calc(50% - 20px);
    left: 10px;
    transform: translate(0, calc(-50% + 30px));
  }

  img.studioMode.right {
    left: auto;
    right: 10px;
  }

  img.studioMode.stacked {
    height: calc(50% - 10px);
    width: auto;
    top: 5px;
    left: 50%;
    transform: translate(calc(-50% + 60px), 0);
  }

  img.studioMode.stacked.right {
    bottom: 5px;
    top: auto;
  }
}

.placeholder-controls {
  height: 60px;
  color: var(--paragraph);
  background-color: var(--background);

  &.stacked {
    position: absolute;
    height: 100%;
    width: 125px;
    left: 0;
    top: 0;
  }
}

.no-preview {
  width: 100%;
  height: 100%;
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .message {
    max-width: 50%;
    position: relative;

    .button {
      margin-top: 20px;
      display: block;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.studio-mode-controls {
  height: 60px;
  display: flex;
  align-items: center;
  color: var(--paragraph);
  background-color: var(--background);

  &.stacked {
    flex-direction: column;
    padding: 0 10px;
    height: initial;
  }
}

.studio-mode-control {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
