@import '../../styles/index';
@import '../../styles/mixins';
@import '../../styles/badges';

body:last-child {
  :global(div.ant-tooltip) {
    display: none;
  }
}

body > div > div {
  :global(div.ant-menu-submenu.ant-menu-submenu-popup.ant-menu) {
    display: none;
  }
}

.sidenav-sider {
  width: 100%;
  overflow: visible;
  transition: width 300ms;
}

.sidenav-scroll {
  min-height: 100%;
  height: 100%;
  min-width: 50px;
  padding-right: 0 !important;
  display: flex;
  flex-direction: column;

  :global(.os-content) {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
  }
}

button.sidenav-button {
  height: 100%;
  background-color: var(--sider);
  border: 0;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-radius: 0;
  padding-right: 3px;
  padding-left: 3px;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--sider);
    border: 0;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
  }

  i {
    color: var(--icon);
    font-size: 12px;
  }

  &.left-dock {
    border-left: 0;

    @media (max-width: 1070px) {
      border-left: 1px solid var(--border) !important;
      border-right: 1px solid var(--border) !important;
    }
  }

  &.sider-open {
    border: 0;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    padding-left: 2px;
    padding-right: 3px;

    &.left-dock {
      border-left: 1px solid var(--border) !important;

      @media (min-width: 1070px) {
        border-right: 0 !important;
      }
    }
  }
}

.flipped {
  transform: scaleX(-1);
}

.sider-closed {
  width: 50px !important;
  min-width: 50px !important;
  max-width: 50px !important;
}

.menu-container {
  flex: 1 1 auto;
  border-right: 0px !important;

  :global(.ant-menu-item-icon) {
    i {
      font-size: 18px !important;
    }
  }

  &.menu-wrapper {
    :global(.ant-menu-item:hover),
    :global(.ant-menu-submenu:hover) {
      i {
        transition: all 0.2s ease-in-out;
        transform: scale(1.2, 1.2);
      }
    }
  }

  :global(li.ant-menu-item.ant-menu-item-selected),
  :global(li.ant-menu-submenu.ant-menu-item-selected) {
    background: none;

    &::after {
      display: none;
    }
  }

  :global(li.ant-menu-item),
  :global(li.ant-menu-submenu) {
    background: none;
    color: var(--paragraph);
    height: unset !important;
    min-height: 30px !important;
    line-height: normal !important;
    margin: 10px 0 !important;

    i {
      color: var(--paragraph);
    }

    :active,
    :link,
    :focus,
    :visited {
      background: none;
    }

    :hover {
      color: var(--title) !important;
    }
  }

  &.closed {
    :global(.ant-menu-item:hover),
    :global(.ant-menu-submenu:hover) {
      i {
        transition: all 0.2s ease-in-out;
        transform: scale(1.2, 1.2);
      }
    }

    :global(span.ant-menu-title-content) {
      display: none !important;
    }
  }

  &.open {
    :global(li.ant-menu-item),
    :global(li.ant-menu-submenu) {
      overflow: unset !important;
      text-overflow: unset !important;
      overflow-wrap: break-word !important;
      padding-bottom: 0px;
      white-space: normal !important;
    }
  }
}

.studio-mode {
  color: var(--icon-active) !important;

  i {
    color: var(--icon-active) !important;
  }
}

.active {
  background-color: none;
  border: none;
  color: var(--icon-active) !important;

  i {
    color: var(--icon-active) !important;
  }
}

.ant-menu-inline-collapsed-tooltip {
  display: none;
}

.side-nav.ant-slider.ant-slider-handle.ant-tooltip-open {
  display: none;

  &:hover {
    display: none;
  }
}

.app-icons {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-18%, 0%);
}
