.preview {
  width: 100%;
  height: 100%;
  padding: 24px;
  padding-top: 64px;

  .image-container {
    min-height: 200px;
    position: relative;
  }

  img, video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.support-header {
  margin-top: 24px;
}

.source-tag {
  background: var(--section-alt);
  border-radius: 4px;
  height: 32px;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
    color: var(--title);
  }

  &.active {
    color: var(--title);
    background: var(--button);
  }
}
