.preview {
  width: 100%;
  height: 100%;
  padding: 24px;
  background: var(--section);

  img,
  video {
    width: 100%;
    height: auto;
  }
}

.support-header {
  margin-top: 24px;
}

.source-tag {
  background: var(--section-alt);
  border-radius: 4px;
  height: 100%;
  padding: 6px 8px;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  min-height: 56px;

  i {
    margin-right: 8px;
  }

  &:hover {
    cursor: pointer;
    color: var(--title);
  }

  &.active {
    color: var(--title);
    background: var(--midtone);
  }
}

.source-tag.essential {
  min-height: 56px;
}

.source-tag.exclude-wrap {
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
