@import './styles/_colors.less';

// デフォルトのスタイルセット
:root {
  // primary
  --color-primary: @bg-primary;
  --color-primary-light: @bg-quaternary;
  --color-primary-dark: @bg-secondary;

  // secondary
  --color-secondary: @text-primary;
  --color-secondary-light: @text-active;
  --color-secondary-dark: @text-secondary;

  // accent
  --color-accent: @accent;
  --color-accent-variant: @accent-hover;

  // border
  --color-border--dark: rgba(@black, .6);
  --color-border-light: rgba(@grey, .3);

  // background
  --color-background: @bg-secondary;

  // text
  --color-text-primary: @light-grey;
  --color-text-secondary: @grey;
  --color-text-hover: @white;

   // button
   --color-button-primary: @text-secondary;
   --color-button-secondary: @grey;

  // link
  --color-link: @light-grey;
  --color-link-hover: @white;
  --color-link-active: @text-active;

  // icon
  --color-icon: @light-grey;
  --color-icon-hover: @white;
  --color-icon-active: @text-active;

  // titleBar
  --color-titlebar: @bg-primary;
  --color-titlebar-text: @light-grey;
  --color-titlebar-action: @light-grey;
  --color-titlebar-action-hover: @white;
}

// 実験版（ヘッダー）
.isUnstable {
  --color-titlebar: @yellow;
  --color-titlebar-text: @black;
  --color-titlebar-action: @black;
  --color-titlebar-action-hover: @black;
}

// フルモード
.isFullMode {
  /*!*/
}

// コンパクトモード
.isCompactMode {
  /*!*/
}