@import '../../../styles/index';

.ai-highlighter-box {
  background-color: #000;
  display: flex;
  flex-direction: column;
  max-width: 66.666666667%;
  justify-content: space-between;
  width: 100%;
  border: 2px solid var(--Day-Colors-Dark-Blue, #2b5bd7);
  padding: 16px 20px 16px 20px;
  align-items: center;
  border-radius: 16px;
}
