@import '../../../styles/index.less';
@import '../../../styles/mixins.less';

.destination-logo {
  font-size: 38px;
}
.platform-logo-twitch {
  font-size: 40px;
}
.platform-logo-youtube {
  font-size: 35px;
  margin-top: 5px;
}
.platform-logo-facebook {
  font-size: 40px;
}
.platform-logo-tiktok {
  font-size: 40px;
  margin-left: 5px;
}
.platform-logo-instagram {
  font-size: 40px;
}
.platform-logo-twitter {
  width: 40px;
  height: 40px;
}

.platform-switcher {
  .radius();
  .padding();

  display: flex;
  height: 60px;
  background: var(--dropdown-bg);
  transition: transform 0.05s;
  cursor: pointer;
  margin-bottom: 15px;

  .col-input {
    padding-top: 5px;
    padding-right: 16px;
    width: 52px;
  }
  .col-primary {
    color: var(--teal);
    text-align: center;
  }

  .col-account {
    white-space: nowrap;
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .platform-name {
    color: var(--title);
  }

  &:hover .col-account {
    color: var(--title);
  }
}

.platform-switcher:last-child {
  margin-bottom: 0px;
}

.platform-disabled {
  opacity: 0.7;
  background: rgba(#2b383f, 0.3);
}

.column-padding {
  padding: 0px 15px;
}

.tiktok-modal-logo {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: super;
}

.tiktok-modal {
  // &:global(.ant-modal.ant-modal-confirm.ant-modal-confirm-confirm) {
  //   width: 600px;
  // }

  &:global(.ant-modal-confirm .ant-modal-body) {
    padding: 0px;
  }

  :global(.ant-modal-confirm-body .ant-modal-confirm-title) {
    display: inline-block;
    font-size: 19px;
    line-height: unset;
  }

  :global(.ant-modal-confirm-btns) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: var(--modal-footer);
    margin-top: 0px;
    padding: 16px 32px;
    border-radius: 0px 0px 4px 4px;
  }
}

.tiktok-modal-title {
  display: inline-block;
  line-height: unset;
  font-size: 18px;
}
