@import '../../../styles/index.less';

.settings-row {
  height: 100%;
  margin: 0px !important;

  :global(.ant-col) {
    padding: 0px;
  }
}

.right-column {
  height: 100%;
  background-color: var(--background);
  overflow: hidden;

  &:global(.ant-col.ant-col-16) {
    padding: 25px !important;
  }
}

.platform-switcher {
  .radius();

  box-sizing: border-box;
  display: flex;
  margin: 15px 0px;
  padding: 10px;
  flex-direction: column;
  color: var(--title);
  background: var(--dropdown-bg);
  transition: transform 0.05s;
  cursor: pointer;
}

.platform-disabled {
  opacity: 0.7;
  background: rgba(#2b383f, 0.3);
}

.switcher-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.platform-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.platform-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 5px;
}

.platform-name {
  font-size: 16px;
  font-weight: 600;
}

.platform-username {
  color: var(--link);
  overflow-wrap: break-word;
  display: inline-block;
  word-break: break-word;
  white-space: pre-line;
}

.platform-switch {
  justify-self: flex-end;
  color: var(--background);

  :global(.ant-form-item-label) {
    display: none;
  }

  :global(.ant-switch-small) {
    min-width: 36px;
    height: 21px;
    line-height: 21px;
  }

  :global(.ant-switch-small .ant-switch-handle) {
    width: 15px;
    height: 15px;
    top: 3px;
    left: 3px;
  }

  :global(.ant-switch-small.ant-switch-checked .ant-switch-handle) {
    left: calc(100% - 15px - 3px) !important;
  }

  :global(.ant-switch-inner i) {
    color: var(--background);
    display: flex;
    align-self: center;
  }
}

.platform-display {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.display-selector {
  :global(label.ant-radio-wrapper) {
    margin: 0px !important;
  }
}

.label {
  align-self: center;
  margin-right: 10px;
  flex-grow: 1;
}

.platforms-selector {
  &:global(.ant-select) {
    width: 100%;
    text-align: left;
    margin: 0px;
  }

  &:global(.ant-select.dual-output-selector) {
    width: calc(100% - 30px) !important;
    margin: 0px 15px !important;
  }
}

i.icon {
  font-size: 14px;
  margin-right: 10px;
  color: var(--paragraph);
}

i.selector-icon {
  margin-right: 10px !important;
  font-size: 15px !important;
  width: 15px !important;
  height: 15px !important;
  color: var(--section) !important;
}

.platform-logo {
  margin: 5px 5px 0 0;
}

i.destination-logo {
  margin: 5px 5px 0 0;
  font-size: 30px;
}

.option-btn {
  border: 1px solid var(--nav-icon-inactive);
}

.go-live-settings {
  height: 100%;
  &:global(a) {
    color: var(--teal);
  }
}

.column-padding {
  padding: 15px;
}

.left-column {
  height: 100%;
  width: 100%;
  background-color: var(--dark-background);

  &:global(.ant-col) {
    padding: 0px 0px 15px 0px !important;
  }
}

.switch-wrapper {
  .platform-switcher:last-child {
    margin-bottom: 0px;
  }
}

.dual-output-go-live {
  height: 100%;
  &:global(a) {
    color: var(--teal);
  }

  :global(.ant-modal-body) {
    padding: 0px;
  }
}

.section {
  .margin-bottom(2);
  .padding-right(2);
  border-top: 1px solid var(--border);
  background-color: var(--section);
  &:first-child {
    border-top: none;
  }
  h2 {
    .margin-top(2);
  }
  [data-type='bool'] {
    width: 100% !important;
  }
}

.section-without-title {
  padding-top: 16px;
}

.page {
  .absolute(0,0,0,0);
}

.settings-container {
  width: 100%;
  height: 100%;
  position: relative;
  left: 16px;
  padding-right: 16px;
}

.mode-toggle {
  display: flex;
  margin-top: 6px;
  margin-right: 8px;

  [data-type='toggle'] {
    margin-top: 2px;
    margin-left: 8px;
  }
}

.add-destination-btn {
  width: 100%;
  border: 1px dashed var(--border);
  border-radius: 4px;
  min-height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  transition: border 0.3s, box-shadow 0.3s;
  &:hover {
    border-color: (var(--button));
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.1) inset;
  }
}

.right-text {
  .margin-top(4);
  text-align: right;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spacer {
  width: 1px;
  height: 32px;
}

.prime {
  position: absolute;
  right: 16px;
  font-style: italic;
  color: var(--prime-hover);
}

.banner-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.banner {
  margin-right: 5px;
  height: 32px !important;
  width: unset !important;
}
