@import '../../../../styles/index.less';
@import '../GoLive.m.less';

.settings-row {
  height: 100%;
  margin: 0px !important;

  :global(.ant-col) {
    padding: 0px;
  }
}

.left-column {
  height: 100%;
  padding: 0px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;

  &:global(.ant-col) {
    padding: 10px;
  }
}

.right-column {
  height: 100%;
  background-color: var(--background);
  overflow: hidden;

  &:global(.ant-col.ant-col-16) {
    padding: 25px !important;
  }
}

.platform-switcher {
  .radius();

  box-sizing: border-box;
  display: flex;
  margin: 15px;
  padding: 10px;
  flex-direction: column;
  color: var(--title);
  background: var(--dropdown-bg);
  transition: transform 0.05s;
  cursor: pointer;
}

.platform-disabled {
  opacity: 0.7;
  background: rgba(#2b383f, 0.3);
}

.switch-wrapper {
  padding-bottom: 1px;
}

.switcher-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.logo {
  margin: 5px 5px 0 0;
}

.platform-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.platform-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 5px;
}

.platform-name {
  font-size: 16px;
  font-weight: 600;
}

.platform-username {
  color: var(--link);
  overflow-wrap: break-word;
  display: inline-block;
  word-break: break-word;
  white-space: pre-line;
}

.platform-switch {
  justify-self: flex-end;
  color: var(--background);

  :global(.ant-form-item-label) {
    display: none;
  }

  :global(.ant-switch-small) {
    min-width: 36px;
    height: 21px;
    line-height: 21px;
  }

  :global(.ant-switch-small .ant-switch-handle) {
    width: 15px;
    height: 15px;
    top: 3px;
    left: 3px;
  }

  :global(.ant-switch-small.ant-switch-checked .ant-switch-handle) {
    left: calc(100% - 15px - 3px) !important;
  }

  :global(.ant-switch-inner i) {
    color: var(--background);
    display: flex;
    align-self: center;
    padding-right: 2px;
  }
}

.platform-display {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.display-selector {
  :global(label.ant-radio-wrapper) {
    margin: 0px !important;
  }
}

.label {
  align-self: center;
  margin-right: 10px;
  flex-grow: 1;
}

.platforms-selector {
  &:global(.ant-select) {
    width: calc(100% - 30px);
    text-align: left;
    margin: 0px 15px;
  }
}

i.icon {
  font-size: 14px;
  margin-right: 10px;
  color: var(--paragraph);
}

i.selector-icon {
  margin-right: 10px !important;
  font-size: 15px !important;
  width: 15px !important;
  height: 15px !important;
  color: var(--section) !important;
}

i.destination-logo {
  width: 36px;
  height: 36px;
}

.option-btn {
  border: 1px solid var(--nav-icon-inactive);
}
