@import '../../../../styles/index.less';

.dual-output-go-live {
  height: 100%;
  &:global(a) {
    color: var(--teal);
  }

  :global(.ant-modal-body) {
    background-color: var(--dark-background);
    padding: 0px;
  }
}

.settings-row {
  height: 100%;
  margin: 0px !important;

  :global(.ant-col) {
    padding: 0px;
  }

  .left-column {
    height: 100%;
    padding: 0px !important;

    &:global(.ant-col) {
      padding: 10px;
    }
  }

  .right-column {
    height: 100%;
    background-color: var(--background);
    overflow: hidden;

    &:global(.ant-col.ant-col-16) {
      padding: 25px !important;
    }
  }
}

.platform-switcher {
  .radius();

  display: flex;
  margin: 15px;
  padding: 10px;
  flex-direction: column;
  color: var(--title);
  background: var(--dropdown-bg);
  transition: transform 0.05s;
  cursor: pointer;

  .platform-disabled {
    opacity: 0.7;
    background: rgba(#2b383f, 0.3);
  }

  .switcher-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .platform-info-wrapper {
    white-space: nowrap;
    display: flex;
    flex: 1;
    text-overflow: ellipsis;
    overflow: visible;

    .platform-logo {
      .margin();

      &-twitch {
        font-size: 40px;
      }
      &-youtube {
        font-size: 35px;
        margin-top: 5px;
      }
      &-facebook {
        font-size: 40px;
      }
      &-tiktok {
        font-size: 40px;
        margin-left: 5px;
      }
    }

    .platform-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 0px 5px;

      .platform-name {
        font-size: 16px;
        font-weight: 600;
      }

      .platform-username {
        color: var(--link);
      }
    }

    .platform-switch {
      justify-self: flex-end;
      color: var(--background);

      :global(.ant-form-item-label) {
        display: none;
      }

      :global(.ant-switch-small) {
        min-width: 36px;
        height: 21px;
        line-height: 21px;
      }

      :global(.ant-switch-small .ant-switch-handle) {
        width: 15px;
        height: 15px;
        top: 3px;
        left: 3px;
      }

      :global(.ant-switch-small.ant-switch-checked .ant-switch-handle) {
        left: calc(100% - 15px - 3px) !important;
      }

      :global(.ant-switch-inner i) {
        color: var(--background);
        display: flex;
        align-self: center;
        padding-right: 2px;
      }
    }
  }

  .platform-display {
    display: flex;
    flex: 1;
    justify-content: space-between;

    .label {
      align-self: center;
      flex-grow: 1;
    }

    .display-selector {
      // this targets the last radio button label
      // so that the form lines up on the right
      // :global(.ant-space.ant-space-horizontal.ant-space-align-center
      //     div:last-of-type
      //     span:nth-last-of-type(1):not(.ant-radio-inner)) {
      //   padding-right: 0px;
      // }

      :global(.ant-radio-wrapper) {
        margin: 0px;
      }
    }
  }
}

.platforms-selector {
  &:global(.ant-select) {
    width: calc(100% - 30px);
    text-align: left;
    margin: 15px;
  }
}

i.icon {
  font-size: 18px;
  margin-right: 10px;
  color: var(--section);
}

i.selector-icon {
  margin-right: 10px !important;
  font-size: 15px !important;
  width: 15px !important;
  height: 15px !important;
  color: var(--section) !important;
}
//

.section {
  .margin-bottom(2);
  .padding-right(2);
  border-top: 1px solid var(--border);
  background-color: var(--section);
  &:first-child {
    border-top: none;
  }
  h2 {
    .margin-top(2);
  }
  [data-type='bool'] {
    width: 100% !important;
  }
}

.section-without-title {
  padding-top: 16px;
}

.page {
  .absolute(0,0,0,0);
}

.settings-container {
  width: 100%;
  height: 100%;
  position: relative;
  left: 16px;
  padding-right: 16px;
}

.mode-toggle {
  display: flex;
  margin-top: 6px;
  margin-right: 8px;

  [data-type='toggle'] {
    margin-top: 2px;
    margin-left: 8px;
  }
}

.right-text {
  .margin-top(4);
  text-align: right;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spacer {
  width: 1px;
  height: 32px;
}

.prime {
  position: absolute;
  right: 16px;
  font-style: italic;
  color: var(--prime-hover);
}
