.form-section {
  background: var(--section);
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.video-settings-header {
  padding-bottom: 5px;

  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .do-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .do-checkbox {
    display: inline-block;
    margin-right: 10px;

    :global(label.ant-checkbox-wrapper) {
      margin-bottom: 0px;
    }

    :global(.ant-checkbox + span) {
      display: none;
    }
  }

  .do-tooltip {
    margin-left: 10px;
    font-size: 15px;
  }
}
