.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h2, span {
    position: relative;
    text-align: center;
    color: var(--title);
  }

  h2 {
    font-size: 32px;
  }
}

.color-block {
  background: linear-gradient(180deg, transparent 0%, var(--background) 100%), var(--ultra);
  height: 50%;
  width: 100%;
  position: absolute;
  margin-top: -10px;
}

.product-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  padding: 16px;
}

.product-card {
  height: 200px;
  width: 100%;
  border-radius: 8px;
  background: var(--section);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  padding: 8px;

  img {
    height: 40px;
    width: 40px;
  }

  span {
    margin-top: 8px;
    text-align: center;
  }

  .title {
    color: var(--title);
  }

  &.has-link:hover {
    cursor: pointer;
  }

  .explore {
    color: var(--teal);
  }
}
