body {
  background-color: #09161d;
  color: #BDC2C4;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  color: #eef2f3;
  font-weight: normal;
}

a {
    color: #31c3a2;
}

a:hover {
  color: white;
}

pre {
  background-color: black;
  border-radius: 3px;
}

code {
  background-color: rgba(0, 0, 0, 0.2);
}

.tsd-panel > h1, .tsd-panel > h2, .tsd-panel > h3 {
  border-color: transparent;
}

.tsd-index-panel h3 {
  border-bottom-color: transparent;
}

.tsd-signature, .tsd-signatures {
  border-color: transparent;
}

.tsd-page-title, .tsd-page-toolbar {
  border: none;
  background: none;
}

.tsd-page-title {
  border-bottom: 1px solid #2b383f;
}

.tsd-page-toolbar {
  text-align: right;
}

.title img {
    height: 40px;
    padding-top: 10px;
}

.tsd-panel {
  background-color: #09161d;
  border-radius: 3px;
}

.tsd-breadcrumb {
  margin-bottom: 10px;
}

.tsd-panel b {
  color: white;
}

.tsd-navigation a {
  color: #bdc2c4;
}

.tsd-navigation a:hover {
  text-decoration: none;
  color: white;
}

.tsd-navigation.primary li {
  border-top: none;
}

.tsd-navigation.primary > ul {
  border-bottom: none;
}

li.label.tsd-is-external {
  display: none;
}

.tsd-navigation.secondary li.current > a {
  color: white;
}

.tsd-navigation.secondary ul.current a {
  border-left-color: #31c3a2;
}

.tsd-navigation.primary li.current a {
  background-color: #31c3a2;
  border-radius: 2px;
  font-weight: normal;
  color: white;
}

.tsd-navigation.primary li.nav-header {
  font-size: 23px;
  color: #31c3a2;
  padding: 10px 0;
}

.tsd-flag {
  background-color: #31c3a2;
}

.tsd-block-comment {
  margin-top: 15px;
}

.tsd-panel.tsd-implemented-by li a{
    color: #31c3a2;
}

.tsd-panel.tsd-implemented-by li a:hover {
    color: #31c3a2;
    text-decoration: inherit;
}

.tsd-member .tsd-anchor + h3 {
  background-color: #2b383f;
  padding-top: 10px;
  border-radius: 2px;
}

footer {
    border-top: 1px solid #2b383f;
    background: none;
}
