.crossclip-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-button {
  margin: 32px;
  width: 100px;
  height: 50px;
  border-radius: 16px;
  font-size: 18px;
}

.sign-up-title {
  text-align: center;
    font-size: 32px;
    font-weight: 300;
}

.log-in {
  text-align: center;
}
