.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 16px;
  background: var(--border);
  border-radius: 8px;
  width: fit-content;
}

.dropdown {
  color: white;
}
.option {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 4px;
  border-radius: 8px;
  overflow: hidden;
  opacity: 1;
}

.tag {
  padding: 3px 8px;
  width: fit-content;
  font-size: 12px;
  background-color: var(--border);
  border-radius: 4px;
  margin-right: 4px;
  color: #ffffff;
}

.info-tag {
  border-radius: 4px;
  color: #ffffff;
  background-color: #3a484f;
  padding: 2px 6px;
}

.reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  padding: 0;
}
