@import '../../styles/index';

.settings-view-root {
  position: relative;

  :global(.ant-modal-wrap),
  :global(.ant-modal-mask) {
    position: absolute;
  }

  :global(.os-content-glue) {
    width: 100% !important;
    height: 100% !important;
  }
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 700px;
  // min-width: 500px;
  width: 100%;
}

.highlighter-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  background-color: #17242d;
  padding: 40px;
  border-radius: 16px;
  border: solid 2px #2b5bd7;
}

.manual-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  // background-color: #2b383f;
  // padding: 40px;
  border-radius: 10px;
}

.card-headerbar-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

.setting-section {
  background-color: #17242d;
  h3 {
    color: #bdc2c4;
  }

  padding: 24px;
  border-radius: 16px;
}

.card-headerbar {
  display: flex;
  align-items: center;
  gap: 8px;
}
