@import '../../styles/index';

.stream-view-root {
  position: relative;

  :global(.ant-modal-wrap),
  :global(.ant-modal-mask) {
    position: absolute;
  }

  :global(.os-content-glue) {
    width: 100% !important;
    height: 100% !important;
  }
}

.streams-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;

  gap: 16px;
}

.stream-view-root {
  position: relative;

  :global(.ant-modal-wrap),
  :global(.ant-modal-mask) {
    position: absolute;
  }

  :global(.os-content-glue) {
    width: 100% !important;
    height: 100% !important;
  }
}

// Upload
.upload-wrapper {
  display: flex;
  padding: 16px;
  padding-left: 22px;
  margin-top: -17px; //1px bcs of border
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px dashed var(--Day-Colors-Dark-4, #4f5e65);
}

.manual-upload-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;

  --sectionWidth: 424px;
  --sectionHeight: var(--sectionWidth);
  --padding: 16px;

  .video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--sectionHeight);
    width: var(--sectionWidth);
    padding: var(--padding);
    // background-color: var(--dropdown-alt-bg);
    background-color: #232d3530;
    border-radius: 22px;
  }

  .video-preview {
    position: relative;
    display: grid;
    place-content: center;
    max-height: 100%;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    min-width: 392px;
    min-height: 220px;
  }

  .video-preview::before {
    content: '';
    border-style: var(--border-style);
    border-width: 1px;
    border-color: var(--border-color);
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  video {
    display: block;
    max-width: calc(var(--sectionWidth) - var(--padding) * 2);
    max-height: calc(var(--sectionHeight) - var(--padding) * 2);
    border-radius: 8px;
  }
}

.custom-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
}

.streamcards-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.period-divider {
  border-bottom: 1px solid var(--border);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
