@import '../../styles/index';

.stream-view-root {
  position: relative;

  :global(.ant-modal-wrap),
  :global(.ant-modal-mask) {
    position: absolute;
  }

  :global(.os-content-glue) {
    width: 100% !important;
    height: 100% !important;
  }
}

.streams-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;

  gap: 16px;
}

.stream-view-root {
  position: relative;

  :global(.ant-modal-wrap),
  :global(.ant-modal-mask) {
    position: absolute;
  }

  :global(.os-content-glue) {
    width: 100% !important;
    height: 100% !important;
  }
}

.upload-wrapper {
  display: flex;
  padding: 16px;
  padding-left: 22px;
  margin-top: -17px; //1px bcs of border
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px dashed var(--Day-Colors-Dark-4, #4f5e65);
}
